/*homePage Start*/
#clock{
    position: absolute;
    right: 0;
    top: 15px;
    width: 400px;
    pointer-events: none;
}
.nav{
    position: absolute;
    left: 20%;
    top: 50%;
    width: 1000px;
    height: 45px;
}
/*homePage End*/


/*ISELF_Page2.0 & Campus_3D Start*/
#threejs{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
/*ISELF_Page2.0 & Campus_3D End*/


/*ISELF_Page2.0 Start*/
.GUI{
    position: absolute;
    height: 346px;
    width: 158px;
}
#floors{
    position: absolute;
    top: 25%;
    left: 50px;
}
/*ISELF_Page2.0 End*/


/*videosPage Start*/
.border{
    border: 4px solid #dc0c0c;
}
#sideBar{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    overflow: auto;
    padding: 0;
    margin-bottom: 0;
}
#videos{
    position: absolute;
    width: 100%;
    height: 15%;
}
#container{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    pointer-events: none;
}
::-webkit-scrollbar{
    display: none;
}
#logoDiv{
    position: absolute;
    width: 15%;
    height: 15%;
}
#main{
    position: absolute;
    width: 100%;
    height: 100%;
}
/*videosPage End*/


/*viz styling Start*/
body{
    padding: 0;
    margin: 0;
    overflow: hidden;
} 
.backArrow{
    position: absolute;
    height: 91px;
    width: 94px;
    left: 10px;
    top: 20px;
    z-index: 10;
}
.homeBackGround{
    position: absolute;
    z-index: -10;
    width: 100%;
    height: 100%;
    background-color: #0D1E49;
}
.link{
	font-family : Source Sans Pro, sans-serif;
	font-style : italic;
	font-size : 60px;
    background-color: #0D1E49;
    border: 0;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-shadow : 4px 5px 5px rgba(35, 31, 32, 0.75);
    text-decoration: none;
}
.floatRight{
    float: right;
}
.floatMiddle{
    position: absolute;
    left: 420px;
}
.BR{
    position: absolute;
    bottom: 0;
    right: 0;
}
.TR{
    position: absolute;
    top: 0;
    right: 0;
}	
.BR{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
}
.BL{
    position: absolute;
    bottom: 0;
    left: 0;
}
.halfOp{
    opacity: .5;
}
.btnGroup{
    position: absolute;
    width: 56px;
    display: inline-block;
}
.btn{
    position: relative;
	border-radius : 0px 0px 0px 0px;
    border: 2px solid #263f8c;
	width : 56px;
	height : 45px;
    
    font-family: sans-serif;
    font-weight: bold;
    color: #263f8c;
}
.bottom{
	border-radius : 0px 0px 10px 10px;
	-moz-border-radius : 0px 0px 10px 10px;
	-webkit-border-radius : 0px 0px 10px 10px;
}
.top{
	border-radius : 10px 10px 0px 0px;
	-moz-border-radius : 10px 10px 0px 0px;
	-webkit-border-radius : 10px 10px 0px 0px;
}
.on{
	/*background : #5cf19f;*/
}
.off{
	/*background : #F1695C;*/
}
/*viz styling Start*/
.link2{
    font-family : Source Sans Pro, sans-serif;
    font-style : italic;
    position: absolute;
    font-size: 40px;
    background-color: #0D1E49;
    border: 0;
    color : #FFFFFF;
    color : rgb(255, 255, 255);
    text-shadow : 4px 5px 5px rgba(35, 31, 32, 0.75);
    text-decoration: none;
}
.logoContainer{
    position: absolute;
    background-repeat: no-repeat;
    width: 380px;
    height: 380px;
    z-index: 10;
}
.glow{
    position: absolute;
    background-repeat: no-repeat;
    width: 470px;
    height: 470px;
    z-index: 9;
}
#videoPanel{
    position: absolute;
    width: 600px;
    height: 200px;
    left : 50%;
    top : 0;
}
.videoLine{
    width: 470px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    -webkit-transform:
    translateY(125px)
    translateX(-10px)
    rotate(-18deg);
    position: absolute;
    opacity: 0;
}
.videoBorder{
    background : #0D1E49;
    background : rgba(13, 30, 73, 1);
    position : absolute;
    top: 150px;
    left: 0;
    width : 180px;
    height : 50px;
    border: 2px solid #00afea;
    box-shadow : -4px 2px 7px rgba(80, 226, 242, 1);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-4, OffY=2, Color='#50E2F2');
}
#videoLabel{
    position: absolute;
    left: 37px;
}
#ISELF_Panel{
    position: absolute;
    width: 600px;
    height: 200px;
    left : 50%;
    bottom : 0;
}
.ISELF_Line{
    width: 470px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    -webkit-transform:
    translateY(74px)
    translateX(-10px)
    rotate(18deg);
    position: absolute;
    opacity: 0;
}
.ISELF_Border{
    background : #0D1E49;
    background : rgba(13, 30, 73, 1);
    position : absolute;
    bottom: 150px;
    left: 0;
    width : 180px;
    height : 50px;
    border: 2px solid #00afea;
    box-shadow : -4px -2px 7px rgba(80, 226, 242, 1);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=-4, OffY=-2, Color='#50E2F2');
}
#ISELF_Label{
    position: absolute;
    left: 47px;
}
#CampusPanel{
    position: absolute;
    width: 600px;
    height: 200px;
    right : 50%;
    top : 0;
}
.CampusLine{
    width: 470px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    -webkit-transform:
    translateY(125px)
    translateX(140px)
    rotate(18deg);
    position: absolute;
    opacity: 0;
}
.campusBorder{
    background : #0D1E49;
    background : rgba(13, 30, 73, 1);
    position : absolute ;
    width : 180px;
    height : 50px;
    right: 0;
    top : 150px;
    border: 2px solid #00afea;
    box-shadow : 4px 1px 7px rgba(80, 226, 242, 1);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=4, OffY=1, Color='#50E2F2') ;
}
#CampusLabel{
    position: absolute;
    left: 25px;
}
#projectPanel{
    position: absolute;
    width: 600px;
    height: 200px;
    right : 50%;
    bottom : 0;
}
.projectLine{
    width: 470px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    -webkit-transform:
    translateY(78px)
    translateX(140px)
    rotate(-18deg);
    position: absolute;
    opacity: 0;
}
.projectBorder{
    background : #0D1E49;
    background : rgba(13, 30, 73, 1);
    position : absolute ;
    right: 0;
    bottom : 150px;
    width : 180px;
    height : 50px;
    border: 2px solid #00afea;
    box-shadow : 4px -2px 7px rgba(80, 226, 242, 1);
    filter: progid:DXImageTransform.Microsoft.dropshadow(OffX=4, OffY=-2, Color='#50E2F2') ;
}
#ProjectsLabel{
    position: absolute;
    left: 23px;
}
/**/
/**/
.ISELF_GUI{
    position: absolute;
    background-repeat: no-repeat;
    width: 180px;
    height: 180px;
    z-index: 10;
}
#questionPanel{
    position: absolute;
    width: 300px;
    height: 60px;
    right : 75px;
    top : 50%;
    /*background-color: #080808;*/
}
.questionLine{
    width: 225px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    position: absolute;
    top: 29px;
    opacity: 0;
}
#question{
    position: absolute;
    left: 240px;
    z-index: 9;
}
#minPanel{
    position: absolute;
    width: 300px;
    height: 60px;
    -webkit-transform:
    translateY(-8px)
    translateX(-158px)
    rotate(45deg);
    /*background-color: #080808;*/
    z-index: 8;
}
.minLine{
    width: 225px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    position: absolute;
    top: 29px;
    opacity: 0;
}
#min{
    position: absolute;
    left: 240px;
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
}
#goPanel{
    position: absolute;
    width: 60px;
    height: 300px;
    left : 60px;
    bottom : 30px;
    /*background-color: #1ABC9C;*/
    z-index: 8;
}
.goLine{
    width: 1px;
    height: 225px;
    border-top: 225px solid #50e2f2;
    position: absolute;
    left: 29px;
    opacity: 0;
}
#go{
    position: absolute;
    top: 240px;
}
#plusPanel{
    position: absolute;
    width: 300px;
    height: 60px;
    -webkit-transform:
    translateY(-8px)
    translateX(37px)
    rotate(-45deg);
    /*background-color: #080808;*/
    z-index: 9;
}
.plusLine{
    width: 300px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    position: absolute;
    top: 29px;
    opacity: 0;
}
#plus{
    position: absolute;
    right: 240px;
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
}
#showPanel{
    position: absolute;
    width: 300px;
    height: 60px;
    left : 75px;
    top : 50%;
    /*background-color: #080808;*/
}
.showLine{
    width: 300px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    position: absolute;
    top: 29px;
    opacity: 0;
}
#show{
    position: absolute;
    right: 240px;
}
#firstPanel{
    position: absolute;
    width: 300px;
    height: 60px;
    right : 75px;
    top : 50%;
    /*background-color: #080808;*/
}
.firstLine{
    width: 225px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    position: absolute;
    top: 29px;
    opacity: 0;
}
#first{
    position: absolute;
    left: 240px;
    z-index: 9;
}
#secondPanel{
    position: absolute;
    width: 300px;
    height: 60px;
    -webkit-transform:
    translateY(-8px)
    translateX(-158px)
    rotate(45deg);
    /*background-color: #080808;*/
    z-index: 8;
}
.secondLine{
    width: 225px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    position: absolute;
    top: 29px;
    opacity: 0;
}
#second{
    position: absolute;
    left: 240px;
    -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
}
#thirdPanel{
    position: absolute;
    width: 60px;
    height: 300px;
    left : 60px;
    bottom : 30px;
    /*background-color: #1ABC9C;*/
    z-index: 8;
}
.thirdLine{
    width: 1px;
    height: 225px;
    border-top: 225px solid #50e2f2;
    position: absolute;
    left: 29px;
    opacity: 0;
}
#third{
    position: absolute;
    top: 240px;
}
#ExtPanel{
    position: absolute;
    width: 300px;
    height: 60px;
    -webkit-transform:
    translateY(-8px)
    translateX(37px)
    rotate(-45deg);
    /*background-color: #080808;*/
    z-index: 9;
}
.ExtLine{
    width: 300px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    position: absolute;
    top: 29px;
    opacity: 0;
}
#Ext{
    position: absolute;
    right: 240px;
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
}
#ExtLabel{
    position: absolute;
    z-index: 15;
}
#helpPanel{
    position: absolute;
    width: 300px;
    height: 60px;
    left : 75px;
    top : 50%;
}
.helpLine{
    width: 300px;
    height: 1px;
    border-top: 1px solid #50e2f2;
    position: absolute;
    top: 29px;
    opacity: 0;
}
#help {
    position: absolute;
    right: 240px;
}
.img{
    opacity: .7;
}
@keyframes rotateForward {
     0%    {-webkit-transform: rotate(0deg);}
     5%    {-webkit-transform: rotate(18deg);}
     10%   {-webkit-transform: rotate(36deg);}
     15%   {-webkit-transform: rotate(54deg);}
     20%   {-webkit-transform: rotate(72deg);}
     25%   {-webkit-transform: rotate(90deg);}
     30%   {-webkit-transform: rotate(108deg);}
     35%   {-webkit-transform: rotate(126deg);}
     40%   {-webkit-transform: rotate(144deg);}
     45%   {-webkit-transform: rotate(162deg);}
     50%   {-webkit-transform: rotate(180deg);}
     55%   {-webkit-transform: rotate(198deg);}
     60%   {-webkit-transform: rotate(216deg);}
     65%   {-webkit-transform: rotate(234deg);}
     70%   {-webkit-transform: rotate(252deg);}
     75%   {-webkit-transform: rotate(270deg);}
     80%   {-webkit-transform: rotate(288deg);}
     85%   {-webkit-transform: rotate(306deg);}
     90%   {-webkit-transform: rotate(324deg);}
     95%   {-webkit-transform: rotate(342deg);}
     100%  {-webkit-transform: rotate(360deg);}
 }
@keyframes rotateBackward {
    0%    {-webkit-transform: rotate(360deg);}
    5%    {-webkit-transform: rotate(342deg);}
    10%   {-webkit-transform: rotate(324deg);}
    15%   {-webkit-transform: rotate(306deg);}
    20%   {-webkit-transform: rotate(288deg);}
    25%   {-webkit-transform: rotate(270deg);}
    30%   {-webkit-transform: rotate(252deg);}
    35%   {-webkit-transform: rotate(234deg);}
    40%   {-webkit-transform: rotate(216deg);}
    45%   {-webkit-transform: rotate(198deg);}
    50%   {-webkit-transform: rotate(180deg);}
    55%   {-webkit-transform: rotate(162deg);}
    60%   {-webkit-transform: rotate(144deg);}
    65%   {-webkit-transform: rotate(126deg);}
    70%   {-webkit-transform: rotate(108deg);}
    75%   {-webkit-transform: rotate(90deg);}
    80%   {-webkit-transform: rotate(72deg);}
    85%   {-webkit-transform: rotate(54deg);}
    90%   {-webkit-transform: rotate(36deg);}
    95%   {-webkit-transform: rotate(18deg);}
    100%  {-webkit-transform: rotate(0deg);}
}
.rotateForward{
    animation-name: rotateForward;
    animation-duration: .8s;
}
.rotateBackward{
    animation-name: rotateBackward;
    animation-duration: .8s;
}