body {
    overflow: hidden;
}
#menu-toggle{
    float: right;
}
#page-content-wrapper{
    margin: 0;
    padding: 0;
}
#mainHeader{
    background: rgb(200,200,200);   
}
#paperGUI{
    position: absolute;
    top: 115px;
    right: 0;
}
#threeGUI{
    position: absolute;
    top: 0;
    right: 0;
}
#tabs{
    position: absolute;
    width: 100%;   
    height: 100%;
}
#threejs{
    position: relative;
    width: 100%;   
    height: 100%; 
}
#paperjs{
    position: relative;
    width: 100%;   
    height: 100%; 
    z-index: 0;
}
#three{
    position: relative;
}
#programName{
    font-size: 2em;
    font-family: sans-serif;
}
.tableHeaders{
    position: relative;
    left: 30%;
}
#sidebar-wrapper{
    background: rgb(200,200,200);
}
#wrapper{
    z-index: 1;   
}
.navbar{
    margin-bottom: 0;   
}