#drawing-mode-options {
    margin: 5px;
    padding: 5px;
    border: 1px solid #aaa;
}


 #wrapper {
  padding-left: 300px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -300px;
  left: 300px;
  width: 300px;
  background: lightgrey;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
}
