#backGround {
/*
    position: absolute;
    background-image: url('./graphPaper.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
*/
    z-index: -2;
}
#sideBar {
    position: absolute;
    width: 140px;
    height: 100%;
    z-index: -1;
    background-color: rgb(200,200,200);
}