@charset "utf-8";
	.OffThird
{
	background : #F1695C;
	background : rgba(241, 105, 92, 1);
	position : absolute ;
	left : 1755px;
	top : 192px;
	width : 56px;
	height : 45px;
	border-radius : 0px 0px 10px 10px;
	-moz-border-radius : 0px 0px 10px 10px;
	-webkit-border-radius : 0px 0px 10px 10px;
}
