@charset "utf-8";
	.NormalCharacterStyle
{
	font-family : Source Sans Pro;
	font-style : italic;
	font-size : 36px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
	text-shadow : 4px 5px 5px rgba(35, 31, 32, 0.75);
}
