@charset "utf-8";
	.OnSecond
{
	background : #7EC892;
	background : rgba(126, 200, 146, 1);
	position : absolute ;
	left : 1755px;
	top : 145px;
	width : 56px;
	height : 45px;
}
.OnAll
{
	background : #7EC892;
	background : rgba(126, 200, 146, 1);
	position : absolute ;
	left : 1755px;
	top : 249px;
	width : 56px;
	height : 45px;
	border-radius : 10px 10px 0px 0px;
	-moz-border-radius : 10px 10px 0px 0px;
	-webkit-border-radius : 10px 10px 0px 0px;
}
.OnExt
{
	background : #7EC892;
	background : rgba(126, 200, 146, 1);
	position : absolute ;
	left : 1754px;
	top : 296px;
	width : 56px;
	height : 45px;
	border-radius : 0px 0px 10px 10px;
	-moz-border-radius : 0px 0px 10px 10px;
	-webkit-border-radius : 0px 0px 10px 10px;
}
.OnFirst
{
	background : #7EC892;
	background : rgba(126, 200, 146, 1);
	position : absolute ;
	left : 1755px;
	top : 99px;
	width : 56px;
	height : 45px;
	border-radius : 10px 10px 0px 0px;
	-moz-border-radius : 10px 10px 0px 0px;
	-webkit-border-radius : 10px 10px 0px 0px;
}
.OnThird
{
	background : #7EC892;
	background : rgba(126, 200, 146, 1);
	position : absolute ;
	left : 1754px;
	top : 192px;
	width : 56px;
	height : 45px;
	border-radius : 0px 0px 10px 10px;
	-moz-border-radius : 0px 0px 10px 10px;
	-webkit-border-radius : 0px 0px 10px 10px;
}
